<div class="main">
    <div class="header">
        <h3>Ordered Items</h3>
        <p>05</p>
    </div>
    <div class="itemList">
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
        <div class="lists">
            <div class="product">
                <p class="products">2x</p>
                <p>Pasta with Roast Ref</p>
            </div>
            <h3>$ 20.00</h3>
        </div>
    </div>
</div>