<div class="main">
    <div class="header">
        <h3>Payment Summary</h3>
    </div>
    <div class="summaryList">
        <div class="list">
            <p>Subtotal</p>
            <h3>$67.00</h3>
        </div>
        <div class="list">
            <p>Tax</p>
            <h3>$4.00</h3>
        </div>
        <div class="list">
            <p>Donation for Palestine</p>
            <h3>$1.00</h3>
        </div>
    </div>
    <div class="total">
        <h3>Total Payable</h3>
        <h3>$72.00</h3>
    </div>
</div>