<div class="main">
    <div class="header">
        <h3>Manage Foods</h3>
        <div class="inputContainer">
            <mat-form-field>
                <mat-icon class="search">search</mat-icon>
                <input type="text" placeholder="Search Foods" matInput>
            </mat-form-field>
            <button mat-mini-fab class="reservation">
                <mat-icon class="box">add_box</mat-icon>
                Add New Foods
            </button>
        </div>
    </div>
    <div class="middle">
        <div class="midHeader">
            <h3>Desserts (19)</h3>
            <div class="iconContainer">
                <div class="icon">
                    <div class="headerIcon">
                        <mat-icon class="grid">grid_view</mat-icon>
                    </div>
                    <div class="middleIcon">
                        <mat-icon class="view">table_rows_narrow</mat-icon>
                    </div>
                </div>
                <div class="footerIcon">
                    <mat-icon  class="filter">tune</mat-icon>
                    <span>Filter</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="card">
                <mat-icon class="plus">add_box</mat-icon>
                <h5>Add New Food to</h5>
                <h5>Desserts</h5>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
            <div class="footerCard">
                <div class="checkbox">
                    <mat-checkbox class="example-margin"></mat-checkbox>
                    <button mat-icon-button>
                        <mat-icon class="setting">more_vert</mat-icon>
                    </button>
                </div>
                <div class="productContainer">
                    <img src="rice-bowl.jpg" alt="products" class="productImage">
                </div>
                <div class="footerName">
                    <p>Dessert</p>
                    <h6>Cheese Syrniki Pancakes</h6>
                    <h6>$ 8.00</h6>
                </div>
            </div>
        </div>
    </div>
</div>