<div class="cards">
    <div class="left">
        <p>7:30</p>
        <p>PM</p>
    </div>
    <div class="right">
        <div class="name">
            <h3>Arkar</h3>
            <p class="dinner">Dinner</p>
        </div>
        <div class="icons">
            <div class="iconList">
                <div class="icon">
                    <mat-icon>table_restaurant</mat-icon>
                    <p class="text">1</p>
                </div>
                <div  class="icon">
                    <mat-icon>group</mat-icon>
                    <p class="text">6</p>
                </div>
            </div>
            <div class="payment">
                <mat-icon class="check">check_circle</mat-icon>
                <p>Payment</p>
            </div>
        </div>
        <div class="phone">
            <mat-icon class="dinner">call</mat-icon>
            <p class="dinner">+95 0932898399</p>
        </div>
    </div>
</div>