<div class="main">
    <div class="middle">
        <div class="filter">
            <p>All</p>
            <span>30</span>
        </div>
        <div class="filter">
            <p>Reservation</p>
            <span>30</span>
        </div>
        <div class="filter">
            <p>On Dine</p>
            <span>30</span>
        </div>
    </div>
    <div class="headerDate">
        <mat-icon>chevron_left</mat-icon>
        <p>Thu,11 January 2024</p>
        <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="search">
        <mat-form-field>
            <mat-icon class="searchIcon">search</mat-icon>
            <input type="text" placeholder="Search Customer" matInput>
        </mat-form-field>
        <button mat-mini-fab>
            <mat-icon>tune</mat-icon>
        </button>
    </div>
    <div class="tableCard">
        <app-order-table-card></app-order-table-card>
        <app-order-table-card></app-order-table-card>
        <app-order-table-card></app-order-table-card>
        <app-order-table-card></app-order-table-card>
        <app-order-table-card></app-order-table-card>
        <app-order-table-card></app-order-table-card>
    </div>
    <div class="footer">
        <button mat-mini-fab class="reservation">
            <mat-icon class="box">add_box</mat-icon>
            Add New Reservation
        </button>
    </div>
</div>