<div class="main">
    <h3>Foods Category</h3>
    <div class="cards">
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
        <div class="cardLists">
            <div class="imageContainer">
                <img src="rice-bowl.jpg" alt="category_img" class="image">
                <p>All Foods</p>
            </div>
            <div class="number">
                <span>154</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <button mat-mini-fab class="reservation">
            <mat-icon class="box">add_box</mat-icon>
            Add New Category
        </button>
    </div>
</div>