<mat-grid-list cols="3" rowHeight="2:0.95" [gutterSize]="'10px'">
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="chair">
                    <p>Table #1</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>6</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #2</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #3</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #4</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #5</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="chair">
                    <p>Table #6</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>6</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="chair">
                    <p>Table #7</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>6</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #8</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #9</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #10</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="double">
                    <p>Table #11</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>2</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="main">
            <div class="header">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="middle">
                <mat-icon>chair_alt</mat-icon>
                <div class="chair">
                    <p>Table #12</p>
                    <p>
                        <mat-icon>group</mat-icon>
                        <span>6</span>
                    </p>
                </div>
                <mat-icon>chair_alt</mat-icon>
            </div>
            <div class="footer">
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
                <mat-icon>chair_alt</mat-icon>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>