<div class="main">
    <div class="header">
        <h3>Manage Tables</h3>
        <div class="middle">
            <p class="dine">Main Dining</p>
            <p class="dine">Terrace</p>
            <p class="dine">Outdoor</p>
        </div>
    </div>
    <div class="avaliable">
        <div class="footer">
            <span class="back"></span>
            <p>Avaliable</p>
        </div>
        <div class="footer">
            <span class="reserved"></span>
            <p>Reserved</p>
        </div>
        <div class="footer">
            <span class="onDine"></span>
            <p>On Dine</p>
        </div>
    </div>
    <div class="tables">
        <app-order-table></app-order-table>
    </div>
</div>