.main{
    display: flex;
    height: calc(100vh - 80px);
    gap:20px;
}
.left{
    width: 70%;
    background-color: whitesmoke;
    padding: 0px 20px;
    overflow-y: auto;
}
.right{
    width: 30%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}
h3{
    font-size: 24px !important;
    font-weight: 400;
}
.middle{
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter{
    padding: 5px;
    border:1px solid var(--button-background-color);
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
}
p{
    padding: 0px !important;
    margin: 0px !important;
    margin-right: 10px !important;
    font-size: 14px !important;
    font-weight: 500;
}
span{
    width: 25px;
    height: 25px;
    background-color: var(--button-background-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
    color: white;
}
.cardheader{
    min-width: 235px;
    width: 100%;
    padding: 10px !important;
    box-shadow: 1px 1px 1px black;
    border: 1px solid gray;
    border-radius: 10px;
}
h4{
    padding: 0px !important;
    font-size: 14px !important;
    font-weight: 400;
    margin: 10px !important;
}
.table{
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px !important;
}
.status{
    margin: 0px !important;
    font-size: 14px !important;
    width: 100px;
    padding: 5px !important;
    background-color: red;
    text-align: center;
    border-radius: 30px;
    color: white;
    box-shadow: 1px 1px 1px red;
}
.card{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    overflow-x: scroll;
    position: relative;
}
.cardContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
    margin: 0px !important;
}
.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions{
    position: absolute;
    top: 30%;
    right: 0%;
}
.action{
    position: absolute;
    top: 30%;
    left: 0%;
}
button{
    background-color: gray !important;
}
mat-icon{
    color: white !important;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.cardsHeader{
    display: flex;
    align-items: center;
    border:1px solid black;
    justify-content: space-between;
    padding: 0px 5px;
    height: 60px;
    border-radius: 10px;
    min-width: 135px;
}
.menuImage{
    width: 50px;
    height: 50px;
}
.iconLeft{
    color: black !important;
    font-size: 28px !important;
    cursor: pointer;
}
.menuText{
    font-size: 18px !important;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 400;
}
.menuParagraph{
    font-size: 14px !important;
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 400;
}
.footerCard{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px;
}