<mat-card>
    <img src="rice-bowl.jpg" alt="card-image" mat-card-md-image class="image">
    <mat-card-content>
        <p>Lunch</p>
        <h5>Grilled Salmon Steak</h5>
        <div class="footerHeader">
            <p class="money">$ 15.00</p>
            <div class="footer">
                <div class="button">
                    <p class="text">-</p>
                </div>
                <h3>0</h3>
                <div class="button">
                    <p class="text">+</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>